body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #FFFFFF;
    size: 16px;
    line-height: 1.42;
    background: #001821;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothimg: grayscale;
}
a {
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}
p {
    margin-top: 0;
}
* {
    box-sizing: border-box;
}
.wrapper {
    background: url(/img/1.jpg) left 200px top no-repeat, url(/img/2.jpg) left 200px bottom 165px no-repeat; 
}
.hero{
    margin: 0 auto;
    max-width: 1142px;
}
.header {
position: relative;
height: 123.36px;
margin-bottom: 72px;
}
.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0px;
}
.menu {
    position: absolute;
    top: 38px;
    left: 163px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.menu__item--active .menu__link {
    color: #DA0100;
}
.menu__item:last-child {
    margin-right: 0px;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover {
    color: #DA0100;
}
.contacts {
    position: absolute;
    top: 26px;
    right: 0px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}
.contacts__time {
    color: #98A4A8;
    font-size: 13px;
    text-decoration: underline;
    margin-top: -7px;

}
.contacts__desc {
    font-size: 11px;
    color: #9A9A9A;
}
.hello {
    width: 511px;
    height: 333px;
    margin-bottom: 243px;
}
.hello__title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 21px;
    line-height: 1.4;
}
.hello__text {
    font-size: 18px;
    margin-bottom: 28px;
}
.button {
    position: absolute;
    background-color: #F5170E;
    border-radius: 35px;
    /* max-height: 55px; */
    padding: 18px 40px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.button:hover {
    background-color: #DA0100;
    color: #FFFFFF;
}
.button--offer {
    border: 1px solid #F5170E;
    padding: 17px 29px;
    background: #FFFFFF;
    color: #F5170E;
}
.button--offer:hover {
    background: #F5170E;
    color: #FFFFFF;
}
.offers {
    margin-bottom: 126px;
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}
.title--fire::after {
    position: relative;
    top: 3px;
    left: 13px;
    content: url(/img/flame.png);
}
.offers__item {
    display: inline-block;
    width: 362px;
    min-height: 449px;
    margin-right: 23px;
    background: #FFFFFF;
    border-radius: 5px;
}
.offers__item:last-child {
    margin-right: 0px;
}

.offers__header {
    position: relative;
    min-height: 144px;
    margin-bottom: 32px;
}
.offers__header-img {
    position: absolute;
    border-radius: 5px 5px 0px 0px;
}
.offers__title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 21px;
}
.offers__features {
    color: #666666;
}
.offers__feature {
    display: inline-block;
    width: 150px;
    font-size: 16px;
    margin-bottom: 20px;
}
.offers__feature-img {
    padding-left: 7px;
}
.offers__feature-text {
    display: inline;
    vertical-align: top;
    padding-left: 5px;
    
}
.offers__content {
    padding: 0px 22px 26px 22px;
}
.offers__text {
    color: #303030;
    font-size: 14px;
    margin-bottom: 25px;
}
.offers__button-wrapper {
    padding-left: 2px;
}
.news__list {
    margin-bottom: 53px;
}
.news__item {
    position: relative;
    width: 557px;
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
}
.news__item:last-child {
    margin-right: 0;
}
.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}
.news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 27px 30px;
    min-height: 170px;
}
.news__date {
    font-size: 14px;
    margin-bottom: 17px;
}
.news__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2px;
}
.paginator {
    text-align: center;
    margin-bottom: 150px;
}
.paginator__text,.paginator__list {
    display: inline-block;
    vertical-align: middle;
}
.paginator__link {
    font-weight: bold;
    text-decoration: none;
}
.paginator__text {
    margin-right: 25px;
}
.paginator__item {
    display: inline-block;
    vertical-align: middle;
}
.paginator__link {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    font-weight: bold;
    text-decoration: none;
    line-height: 32px;
}
.paginator__link:hover {
    background: #FFFFFF;
    color: #F5170E;
}
.paginator__item--active .paginator__link {
    background: #FFFFFF;
    color: #F5170E; 
}
.about:before, .about__content {
    display: inline-block;
    vertical-align: top;
}
.about:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url(/img/gates.jpg) center center / cover no-repeat;
    border-radius: 5px;
    margin-bottom: 80px;
}
.about__content {
    border-radius: 5px;
    width: 785px;
    height: 455px;
    background: url(/img/mountains.jpg) center center / cover no-repeat;
    padding: 70px 80px;
    margin-top: -490px;
    margin-left: 355px;
}
.about__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 37px;
}
.about__content-text {
    color: #060606;
    margin-bottom: 43px;
}
.about__content-text p {
    margin-bottom: 20px;
    line-height: 27px;
}
.about__content-text p:last-child {
    margin-bottom: 0;
}
.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer {
    position: relative;
    height: 126px;
    margin-top: 16px;
}
.social__list {
    position: absolute;
    top: 32px;
    right: 266px;
}
.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.social__item:last-child {
    margin-right: 0;
}
.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;

}
.social__item--icon--tg .social__link {
    background: url(/img/telegram.png);
}
.social__item--icon--tg .social__link:hover {
    background: url(/img/telegram-hover.png);
}
.social__item--icon--vk .social__link {
    background: url(/img/vk.png);
}
.social__item--icon--vk .social__link:hover {
    background: url(/img/vk-hover.png);
}
.social__item--icon--fb .social__link {
    background: url(/img/fb.png);
}
.social__item--icon--fb .social__link:hover {
    background: url(/img/fb-hover.png);
}
.social__item--icon--ig .social__link {
    background: url(/img/ig.png);
}
.social__item--icon--ig .social__link:hover {
    background: url(/img/ig-hover.png);
}