.about {
    padding-bottom: 56px;
}
.about:before {
    display: block;
    content: "";
    width: 490px;
    height: 505px;
    background: url(/project_asia/img/gates.jpg) center center / cover no-repeat;
    border-radius: 5px;
    margin-bottom: 80px;
}
.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    max-width: 785px;
    min-height: 455px;
    background: url(/project_asia/img/mountains.jpg) center center / cover no-repeat;
    padding: 70px 80px 62px;
    margin-top: -490px;
    margin-left: 355px;
}
.about__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}
.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.about__content-text {
    color: #060606;
    display: flex;
    flex: 1;
    padding-top: 40px;
}
.about__content-text p {
    margin-bottom: 20px;
    line-height: 27px;
}
.about__content-text p:last-child {
    margin-bottom: 0;
}
.about__button-wrapper {
    display: flex;
}