.form__row {
  display: flex;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: 0;
  min-height: 65px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #666666;
  padding: 22px 30px;
}

.form__input--textarea {
  padding: 33px 30px;
  height: 235px;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input:focus {
  outline: 1px solid #F5170E;
}

.form__controls {
  display: flex;
  margin-bottom: 23px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 66px;
}

.form__button {
  margin-right: 23px;
}

.form__button:last-child {
  margin-right: 0px;
}