.inner-section {
    background: #ffffff;
    color: #1A1B1E;

}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
}

.title-partners {
    margin-bottom: 50px;
}

.title-reviews {
    margin-bottom: 55px;
}

.inner-section--partners {
    padding: 90px 0px 70px;
}

.inner-section--reviews {
    padding: 62px 0px 30px;
}