.news {
    margin-bottom: 148px;
}
.news__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}
.news__item {
    display: flex;
    width: calc(100% / 2 - 14px);
    border-radius: 5px;
    min-height: 394px;
}
.news__item:last-child {
    margin-right: 0;
}
.item--plain {
    background: url(/project_asia/img/plain.jpg) center center / cover no-repeat;;
}
.item--surf {
    background: url(/project_asia/img/Surfer.jpg) center center / cover no-repeat;;
}

.news__text-content {
    padding: 0px 30px;
    min-height: 170px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.news__date {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-content: stretch;
}
.news__title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}
.news__lead {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 70px;
}