.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-left: 2px;
}

.title--fire:after {
    content: url(/project_asia/img/icons/flame.png);
    margin-left: 12px;
}

.form__controls-title {
    width: 38%;
    font-size: 18px;
    margin-top: 11px;
}